* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial
}

body {
  padding: 40px 140px
}

h1 {
  font-size: 35px;
  font-weight: normal
}

p {
  line-height: 150%;
  padding: 10px 0;
  text-indent: 45px
}

a {
  color: blue
}

a:hover {
  color: red
}

a[rel=boxed],
a.ajaxed {
  text-decoration: none;
  border-bottom: 1px dotted blue
}

a[rel=boxed]:hover,
a.ajaxed:hover {
  border-bottom-color: red
}

/* ----------------------- LAYOUTS ----------------------- */

#header {
  text-align: right;
  height: 40px
}

#header ul li {
  display: inline;
  margin-left: 25px;
  list-style-type: none
}

/* ----------------------- FORMS ----------------------- */

form button {
  padding: 3px 10px
}

form textarea {
  padding: 4px;
  width: 350px;
  min-width: 350px !important;
  max-width: 350px !important;
  height: 150px;
  min-height: 150px !important;
  max-height: 150px !important
}

form dt.submit {
  text-align: right;
  margin-top: 10px
}

/* ----------------------- COMMENTARIES ----------------------- */

#commentaries dl{
  margin-left: 30px;
  margin-top: 30px
}

#commentaries dl>dt{
  overflow: hidden;
  position: relative;
}

#commentaries dl>dd{
  margin: 5px 30px 25px 0;
  line-height: 130%;
}

#commentaries dt>a{
  display: block;
  float: left;
  height: 40px;
  line-height: 50px;
  text-decoration: none;
}

#commentaries dd>p {
  margin-bottom: 5px;
  line-height: 130%;
  text-indent: 0
}

#commentaries dd>p:last-child {
  margin-bottom: 0
}

#commentaries dt .date {
  font-size: 10px;
  color: #ababab
}

/* ----------------------- OTHER ----------------------- */

#verify-ok,
#verify-bad {
  display: none;
  padding-right: 10px
}

#verify-ok {
  color: green
}

#verify-bad {
  color: red
}

#verify-bad .error {
  border-bottom: 1px dotted red;
  font-style: italic
}